.queue-bar {
  background-color: $color-grey;
  border-radius: 20px;
  width: 100%;
  max-width: 480px;
  height: 13px;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;

  &__bar {
    background-color: $color-light-grey;
    border-radius: 20px;
    width: 0%;
    height: 13px;
    position: relative;
    transition: width 0.3s;
  }
}
