.songs {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $media-tablet) {
    justify-content: space-between;
    gap: 27px;
  }

  @media (min-width: $media-tablet-landscape) {
    gap: 37px;
  }

  &__song {
    padding: 0 0 51px;

    @media (min-width: $media-tablet-landscape) {
      padding: 0 0 81px;
    }
  }
}
