.song {
  text-align: center;
  width: 100%;
  max-width: 186px;
  opacity: 0.5;

  &--current {
    max-width: 244px;
    opacity: 1;
    height: 500px;
  }

  &__cover {
    border-radius: 20px;
    overflow: hidden;
    margin: 0 0 27px;
  }

  &__title {
    color: $color-white;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0 0 7px;
  }

  &__artist {
    font-size: 1rem;
    margin: 0 0 31px;
    line-height: 1.5rem;
  }

  &__info {
    color: $color-white;
  }
}
