<div class="options">
  <button
    class="options__btn js-randomeBtn"
    type="button"
    title="Randome track">
    <svg class="options__icon options__icon--setup options__icon--shuffle">
      <use xlink:href="img/sprite.svg#icon-shuffle"></use>
    </svg>
  </button>

  <button
    class="options__btn js-prevBtn"
    type="button"
    title="Previous track">
    <svg class="options__icon options__icon--switch">
      <use xlink:href="img/sprite.svg#icon-back"></use>
    </svg>
  </button>

  <button
    class="options__btn js-playBtn"
    type="button"
    title="Play/Pause track"
    >
    <svg class="options__icon options__icon--play-pause">
      <use class="options__icon-pause options__icon-play-pause u-hidden" xlink:href="img/sprite.svg#icon-pause"></use>
      <use class="options__icon-play options__icon-play-pause" xlink:href="img/sprite.svg#icon-play"></use>
    </svg>
  </button>

  <button
    class="options__btn js-nextBtn"
    type="button"
    title="Next track">
    <svg class="options__icon options__icon--switch">
      <use xlink:href="img/sprite.svg#icon-forward"></use>
    </svg>
  </button>

  <button
    class="options__btn js-repeatBtn"
    type="button"
    title="Repeat track">
    <svg class="options__icon options__icon--setup options__icon--loop">
      <use xlink:href="img/sprite.svg#icon-loop"></use>
    </svg>
  </button>
</div>
