<div class="player">
  <div class="songs">
    <div class="songs__song song">
      <div class="song__cover">
        <img src="img/covers/cover-drake.png" alt="">
      </div>
    </div>

    <div class="songs__song song song--current">
      <div class="song__cover">
        <img src="img/covers/cover-weeknd.png" alt="">
      </div>
      <div class="song__title">
        Alone Again
      </div>
      <div class="song__artist">
        The Weeknd
      </div>
      <div class="song__info">
        90,012,431 Plays
      </div>
    </div>

    <div class="songs__song song">
      <div class="song__cover">
        <img src="img/covers/cover-dababy.png" alt="">
      </div>
    </div>
  </div>

  @@include('blocks/options.html')

  <div class="queue-bar">
    <input class="queue-bar__range" type="range" min="0" max="100" value="0">
  </div>
</div>
