<div class="player">
  <div class="songs">
    <div class="songs__song song song--prev">
      <div class="song__cover">
        <img class="song__cover-img" src="" alt="">
      </div>
    </div>

    <div class="songs__song song song--current">
      <div class="song__cover">
        <img class="song__cover-img" src="" alt="">
      </div>
      <div class="song__title">
        Alone Again
      </div>
      <div class="song__artist">
        The Weeknd
      </div>
      <div class="song__info">
        90,012,431 Plays
      </div>
    </div>

    <div class="songs__song song song--next">
      <div class="song__cover">
        <img class="song__cover-img" src="img/covers/cover-dababy.png" alt="">
      </div>
    </div>
  </div>

  @@include('blocks/options.html')

  <div class="queue-bar">
    <audio class="track" src=""></audio>
    <input class="queue-bar__range js-queueBarRange" type="range" min="0" max="100" value="0">
  </div>

  <!-- <div class="track"></div> -->
</div>
